<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tasyafauzia.android.tasyafauzia_1202154307_modul2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".DineIn" />
        <activity android:name=".TakeAway" />
        <activity android:name=".ListMenu" />
        <activity
            android:name=".MenuDetail"
            android:label="@string/title_activity_menu_detail"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>